
.module.hidden {
	display: none;
}

.menuitem-module {
	margin-top: 40px;
}
.menuitem-editor {
	margin: 0;
}
.menuitem-editor input[readonly] {
	background: #f5f5f5;
}

.menuitem-editor-toolbar {
	margin: 8px 12px;
}
.menuitem-editor-toolbar > span {
	display: inline-block;
	margin-right: 20px;
}
.menuitem-editor-toolbar .add-item input {
	padding: 3px 5px;
	width: 200px;
}




.menuitem-tree {
	min-height: 200px;
	margin: 8px 12px;
}
.menuitem-tree .ui-sortable-placeholder {
	border: 2px dashed #4183C4;
	border-radius: 3px;
	background: #d0e1f2;
	height: 40px;
}

.menuitem-tree ul {
	margin: 0;
	padding: 0;
}

.menuitem-tree ul, 
.menuitem-tree li {
	list-style-type: none;
}

.menuitem-tree .form-row {
	display: inline;
	border: 0;
}

.menuitem-tree ul {
	margin: 0;
	padding: 0;

}

.menuitem-tree li {
	margin: 0;
	padding: 0;
	position: relative;
}

.menuitem-tree li ul{
	margin-left: 40px;
}

.menuitem-tree .delete-item {
	float: right;
	cursor: pointer;
}



.menuitem-tree .menuitem-content  {
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	border-color: #D4D4D4 #D4D4D4 #BCBCBC;
	padding: 6px;
	margin: 0;
	background: #f6f6f6;
	background: linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
}

.menuitem-tree .ui-sortable .menuitem-content  {
	cursor: move;
}


/** Add UI animation for user  **/
.menuitem-tree .menuitem-content:hover,
.menuitem-tree .menuitem-content:hover + ul .menuitem-content {
	background: #eeeeee;
}


.menuitem-tree .delete-item {
	visibility: hidden;
}
.menuitem-tree .menuitem-content:hover .delete-item {
	visibility: visible;
}

.menuitem-tree .menuitem-sitemap-item-name.disabled-status {
	color: red;
}


/** Autocopplete **/
.ui-autocomplete .ui-menu-item {
	list-style: none;
}
