{% load i18n admin_static %}

<fieldset class="module" >
	<h2>{{ "Menu Items"|title }}</h2>

	<div class="menuitem-editor" id="menuitem-editor">
		
		<div class="menuitem-tree" >
			<input type="hidden" name="menuitem-max" value="0" />
			<ul>
			<li id="menuitem-empty" class="empty-form">
				<div class="menuitem-content">
					<input type="hidden" name="menuitem-__prefix__-id" value="__id__" class="menuitem-id-input" />
					<input type="hidden" name="menuitem-__prefix__-order" value="" class="menuitem-order-input" />
					<input type="hidden" name="menuitem-__prefix__-parent-id" value="__parent_id__" class="menuitem-parent-id-input" />
					<input type="hidden" name="menuitem-__prefix__-sitemap-item-id" value="__sitemap_item_id__" class="menuitem-sitemap-item-id-input" />

					<div class="form-row">
						<label>Title: </label>
						<input type="text" name="menuitem-__prefix__-title" value="__title__" class="menuitem-title-input" />
					</div>
					<div class="form-row">
						<label>Location: </label>
						<input type="text" name="menuitem-__prefix__-url" value="__url__" class="menuitem-url-input" />
					</div>
					<div class="form-row">
						<label>Status: </label>
						<select name="menuitem-__prefix__-status" class="menuitem-status-input" >
							<option value="auto" >Auto</option>
							<option value="enabled" >Enabled</option>
							<option value="disabled" >Disabled</option>
						</select>
					</div>
					<div class="form-row menuitem-sitemap-item-row">
						<label>Page: </label>
						<span class="menuitem-sitemap-item-name __sitemap_item_status__-status" title="Page is __sitemap_item_status__">__sitemap_item_title__</span>
					</div>

					<div class="delete-item">
						<span class="ui-icon ui-icon-closethick"></span>
					</div>
				</div>
				<ul class="menuitem-children"></ul>
			</li>
			</ul>
		</div>
		
		<div class="menuitem-editor-toolbar">
			<span class="add-item"><input type="text" placeholder="title or URL" data-autocomplete-url="{% url 'admin:navigation_menu_changelist' %}find-sitemap-items/" /><button class="button" type="button">Add Item</button></span>
			<span class="refresh-items"><a href="refresh/">Refresh items</a></span>
		</div>
	</div>
</fieldset>


<script type="text/javascript" >
django.navigation.init_items_editor({
	id: 'menuitem-editor',
});

</script>


