{% load navigation_tags %}

<ul class="navigation-dynamic-menu">
{% for item in items %}
	<li {% include 'navigation/_item-attr.html' %}>
		<a href="{{ item.url }}" >{{ item.title }}</a>
		{% if item == current_item or item == current_parent_item %}
			{% show_navigation_menu item template='navigation/dynamic-large-submenu.html' %}
		{% elif item == current_parent_item or item in current_ancestor_items %}
			{% show_navigation_menu item template='navigation/dynamic-large-path.html' %}
		{% endif %}
	</li>
{% endfor %}
</ul>

